 .bodyPic {
   background-image:url("./images/news.jpg");
   height:400px;
   width:100%;
   margin-right:0;
   opacity:.6;
 }


  body { background-color:lightgrey;
  }

  h1 {
    font-size: 80px;
    font-style: oblique;
    text-align: center;
    font-weight: 900;
    margin-top: 0;
  padding-top: 10px;
    background-color: lightgrey;
  }
  h2 {
  font-size: 30px;
  font-style:normal;
  text-align: center;
  font-weight: 900;
  margin-top: 0;
  padding-top:40px;

}
h3{
  font-size: 30px;
  font-style:normal;
  text-align: center;
  font-weight: 900;
  margin-top: 0;
  text-align: center;
  padding-top:40px;
   opacity:.6;
}
  #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  #articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
  }
  #notes {
    float: right;
    width: 30%;
  }

  .title {
    font-size: 24px;
  }

  .link {
    font-size: 18px;
  }
  .deleteX {
    margin-left: 20px;
    color: red;
    cursor: pointer;
    text-align: right;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: darkgrey;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }
